@import url('reset.css');
@import url('third-party/materialize.css');
@import url('third-party/leaflet.css');
@import url('third-party/clusterize.css');
@import url('map.css');
@import url('sidebar.css');
@import url('footer.css');

html,body {
  height: 100%;
}

.layout-wrap {
  display: flex;
  height: 100%;
  overflow: hidden;
}

#column-resize {
  height: 100%;
  background: #AAA;
  width: 5px;
  cursor: col-resize;
}

#parse-progress {
  margin-top: 20px;
}

.inline-select {
  display: inline-block;
  margin-top: 0;
  margin-left: 20px;
  min-width: 350px
}

.select-wrapper .caret {
  z-index: 1;
}

.btn-small {
  font-size: 0.7rem;
  height: 30px;
  line-height: 30px;
  padding: 0 0.8rem;
}
